{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="main-block"><div class=" main"><p style="margin-top: 5px;">Large selection of goods
We have more than 1,280,000 products - from laptops and computer components to thermal underwear and car tires. We have 10,000 products in our warehouses that can be purchased on the same day and do not have to wait for delivery.
For the entire range, we provide current prices, photos, specifications and availability. We also create 3D reviews and shoot video reviews. The site contains more than 885,000 reviews and comments from buyers with product ratings. All this helps you make the right and thoughtful choice before buying.
</p>
<p>
Professional approach
We have a friendly team of specialists. We are always happy to help with the choice before buying, whether it's a PC build or a bike selection. Our employees are trained in the areas of all user equipment and products for everyday life.
We process orders promptly so that you receive your goods as quickly as possible. We consult and answer questions in any convenient communication channel: by phone, in a chat on the website, on the forum, in the reviews section, as well as in Telegram, Viber and Facebook Massenger. And in our Telegram bot it is convenient to track the history of purchases and the status of current orders.
Our stores and call center are open all week without breaks and weekends.
The best thing about our service is our customers and their ratings on Hotline and in Google reviews.
</p>
<p>
Partner price level
We have a system of discounts for regular customers. To activate it, you need to register on our website and use your account to make purchases in the amount of USD 5,000. It is very simple and profitable.
</p>
Retail Stores
In addition to the site, we have three stores that work not only as distribution points. They present goods on display, which you can "feel" before buying.
</p>
<p>Free computer assembly
When buying PC components, you can order their assembly by our engineers. And it's free! In addition to assembly, we will test the system for performance and compatibility. At the same time, the warranty on all components is maintained. And we do not seal the body, so you can upgrade at any time.
</p>
</div></div>
{% endblock %}