{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="main-block">

    <div class="products-inner account-inner" style="border-top-left-radius: 12px;">
        <div class="left-nav">
            {% for button in account_buttons %}
            <button>{{ button }}</button>
            {% endfor %}
        </div>
        <div class="main-account">
            <dl>
            {% for name, value in account_fields.items %}
                <dt>{{ name }}:</dt><dd>{{ value }}</dd>
            {% endfor %}
            </dl>
            <div class="account-buttons">

                <button>Change something</button>
            </div>
        </div>
    
    </div>

</div>
{% endblock %}