{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="main-block">


    <div class="products-inner">
        {% csrf_token %}
        <div class="cart-title">
            Cart
        </div>
        {% if cart %}
        {% for product in cart %}
        <div class="cart-product">
            <div class="image-cart-container">
                {% with product_obj=product.product %}
                {% if product_obj.photo.0 %} 
                <a href="{% url 'product' product_obj.pk %}" class="link"><img src="{{ product_obj.photo.0.image.url }}" class="product-img"></a>
                {% endif %}
                {% endwith %}
            </div>
            <div class="product-cart-info">
                <div class="product-cart-info-inner">
                    <a href="{% url 'product' product.product.pk %}" class="link text"><h2 class="product-cart-name">{{ product.product.name }}</h2></a>
                    {% if product.product.is_available %}
                    <p class="in-stock in-stock-cart">In Stock</p>
                    <p class="price-available-cart price"><span><i class="fa-solid fa-dollar-sign"></i></span>{{ product.product.price }}</p>
                    {% else %}
                    <p class="out-of-stock  in-stock-cart">Out of stock</p>
                    <p class="price-available-cart price"><span><i class="fa-solid fa-dollar-sign"></i></span>{{ product.product.price }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="cart-product-interact">
                <input class="product-cart-count" type="number" value="{{ product.product_count }}" id="{{ product.product.pk }}">
                <button class="fa-solid fa-xmark del-item-cart cart-page" id="{{ product.product.pk }}"></button>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="nothing">
            <p class="text">Nothing in the cart</p>
            <i class="fa-solid fa-ban"></i>
        </div>
        {% endif %}
        <div class="checkout-detail">
            {% if cart %}
            <div class='button-container'>
                <p class="text cart-summary" id="summary">Summary: ${{ user.get_cart_summary }}</p>
            </div>
            <div class='button-container'>
                <a href="{% url 'submit-order' %}" class="link cart-button">Submit order</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block import %}
<script type="text/javascript" src="{% static 'core/js/cart_scripts.js' %}"></script>
{% endblock %}
